.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(19, 19, 19, .87);
    color: $white;
    transition: .5s;
    @media (max-width: $breakpoint-tablet) {
        position: absolute;
    }
    &__inner {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: $white;
    }
    &__logo {
        @media (max-width: $breakpoint-tablet) {
            position: absolute;
            cursor: pointer;
            top: 50%;
            left: 5%;
            transform: translate(-5%, -50%);
        }
    }
}




