.nav {
    display: flex;
    align-items: center;
    height: 70px;
    .center {
        display: flex;
        flex-direction: row;
        color: $white;
        align-items: center;
        h4 {
            margin: 0 10px;
        }    
    }
    &__link {
        margin-left: 70px;
        color: $white;
        text-decoration: none;
        font-family: $font-regular;
        opacity: .9;
        font-size: 1rem;

        transition: color .1s linear;
        &:first-child() {
            margin-left: 0;
        }
        &:hover {
            opacity: 1;
            // color: $burgundy;
        }
        
        input[type="checkbox"] {
            position: relative;
            width: 60px;
            height: 20px;
            -webkit-appearance: none;
            background: linear-gradient(0deg, #333, #000);
            outline: none;
            border-radius: 20px;
            box-shadow: 0 0 0 2px #353535, 0 0 0 2px #3e3e3e, inset 0 0 5px rgba(0,0,0,1), 0 2px 10px rgba(0,0,0,.5), inset 0 0 7px rgba(0,0,0,.2);
        }
        input:checked[type="checkbox"] {
            background: linear-gradient(0deg, #6dd1ff, #20b7ff);
            box-shadow: 0 0 1px #6dd1ff, 0 0 0 2px #353535, 0 0 0 2px #3e3e3e, inset 0 0 5px rgba(0,0,0,1), 0 2px 10px rgba(0,0,0,.5), inset 0 0 7px rgba(0,0,0,.2);
        }
        input[type="checkbox"]:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 20px;
            background: linear-gradient(0deg, #000, #6b6b6b);
            border-radius: 20px;
            box-shadow: 0 0 0 1px #232323;
            transform: scale(.98, .96);
            transition: .5s;
        }
        input:checked[type="checkbox"]:before {
            left: 20px;
        }
        input[type="checkbox"]:after {
            content: '';
            position: absolute;
            top: calc(50% - 1px);
            left: 25px;
            width: 2px;
            height: 2px;
            background: linear-gradient(0deg, #6b6b6b, #000);
            border-radius: 50%;
            transition: .5s;
        }
        input:checked[type="checkbox"]:after {
            background: #63cdff;
            left: 45px;
            box-shadow: 0 0 2px #13b3ff, 0 0 7px #13b3ff;
        }
    }
    
}
    

// h1 {
//     top: 300px;
//     position: relative;
//     margin: 0;
//     padding: 0;
//     font-family: sans-serif;
//     font-size: 8em;
//     color: #fff;
//     -webkit-text-stroke: 2px red;
//     text-transform: uppercase;
// }

// h1:before {
//     content: attr(data-text);
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 0;
//     color: #e91e63;
//     white-space: nowrap;
//     transition: 2s;
//     overflow: hidden;
// }

// h1:hover:before {
//     width: 100%;
// }